bin/*
build/
CMakeFiles/
CMakeCache.txt
.DS_Store
*~
*.swp
*.state
*.bb
*.i64
*.id0
*.id1
*.id2
*.nam
*.til
*.so
*.branches
*.o
*.llvm
*.afl_llvm
*.dyninst
*.dyn
*.cmake
*.bpt
*.orig
*.pyc
core
a.out
.gdb_history
.files_to_format
.idea

